<label>Server Name</label><br>
<!-- <input type = "text" 
class = "form-control"
(input) = "onUpdateServerName($event)"> -->

<input type = "text" 
class = "form-control"
[(ngModel)] = "serverName"><br>
<label>UserName</label>
<input type = "text" 
class = "form-control"
[(ngModel)] = "userName">
<br>
<p>{{userName}} </p>
<button 
class = "btn btn-primary"
[disabled] = "userName === '' "
(click) = "userName = '' ">Login &nbsp; &nbsp;
</button>  &nbsp;&nbsp;
<!-- <p>{{ serverName }}</p> -->
<button 
    class = "btn btn-primary" 
    [disabled] = "!allowNewServer"(click) = "onCreateServer()">
    Add Server
    </button>
    <!-- <p [innerText] = "allowNewServer"></p> -->
    <p>{{ serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>
